
<!doctype html>
<html lang="en">
<head>
  <% include partials/header%>
</head>
  <body>
    <main class="main-container">
  		<section>
        <h1>Search for a movie! <i class="fas fa-video"></i></h1></br>
  			<div class="form">
          <form action="/results" method="GET">
            <input  class="form-control" type="text" placeholder="Search Item" name="searchedItem">
            <input class="btn btn-dark" type="submit" >
          </form>
  			</div>
      </section>
  	</main>

<% include partials/footer%>
</body>
</html>
