
<!doctype html>
<html lang="en">
<head>
  <% include partials/header%>
</head>
  <body>
    <h1>Hello, world!</h1>

    <!-- <h1>Index ejs file </h1>
    <form action="/results" method="GET">
      <input type="text" placeholder="Search Item" name="searchedItem">
      <input type="submit" >
    </form> -->


<% include partials/footer%>
</body>
</html>
